@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al CNBS</h1>
    <img src="/img/L05-Con-Escudo-Gris-y-Turquesa.png" alt="Alternate Text" />
</div>
